.Landing {
  min-height: var(--remaining-height);
  flex-direction: column;
  padding: 0 20vw;
  text-align: center;
}

.Landing h1 {
  text-transform: uppercase;
}

.Landing .btn {
  margin-bottom: 10px;
  width: 130px;
}
