.Landing {
  min-height: var(--remaining-height);
  flex-direction: column;
  padding: 0 20vw;
  text-align: center;
}

.Landing h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Gugi";
}

.Landing .btn {
  margin-bottom: 10px;
  width: 150px;
}
