.Dashboard {
  min-height: var(--remaining-height);
  padding: 20px;
}

.Dashboard .welcome-msg {
  display: block;
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.Dashboard h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.Dashboard h2 {
  font-size: 2rem;
}
