.EditProfilePage {
  height: var(--remaining-height);
  padding: var(--global-padding);
}

.confirm-delete {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}

.delete-modal {
  margin: 10vh 10vw;
  height: 40vw;
  background: white;
  border-radius: 5px;
}
