.EditProfilePage {
  min-height: var(--remaining-height);
  padding: var(--global-padding);
  display: flex;
  flex-direction: column;
}

.EditProfilePage h1 {
  font-size: 3rem;
}

.EditProfilePage img {
  max-width: 200px;
  margin: 0 auto;
}

.EditProfilePage form {
  display: flex;
  flex-direction: column;
}

.EditProfilePage label {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #5d5b5b;
}

.EditProfilePage input {
  font-size: 1.2rem;
}

.EditProfilePage .btn {
  margin: 10px 0 0 0;
}

.confirm-delete {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}

.delete-modal {
  margin: 10vh 10vw;
  height: 40vw;
  background: white;
  border-radius: 5px;
}
