.UserPage {
  min-height: var(--remaining-height);
  padding: var(--global-padding);
  display: flex;
  flex-direction: column;
}

.UserPage img {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.UserPage h1 {
  font-size: 3rem;
}

.UserPage .label {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #5d5b5b;
}

.UserPage .user-detail {
  font-size: 1.2rem;
}
