* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --global-padding: 20px 20px;
  --remaining-height: calc(100vh - 180px);
}

::selection {
  background: #ffeb89; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffeb89; /* Gecko Browsers */
}

body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
}

a {
  color: #296dc3;
}

a:visited {
  color: #793f80;
}

a.logo {
  height: 50px;
  width: 50px;
  color: black;
  text-decoration: none;
}

a.logo img {
  width: 50px;
}

.required {
  color: red;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  margin: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

a.btn:visited {
  color: black;
}

.btn--primary {
  background-color: orange;
}

.btn--secondary {
  background-color: lightgreen;
}

.btn--minimal {
  background-color: rgba(0,0,0,0);
  border: 1px solid #ccc;
}

.btn--alert {
  background-color: #c34343;
  color: white;
}

.btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

.avatar--small {
  width: 35px;
}

footer {
  font-size: 1rem;
}

footer.center {
  height: 80px;
  padding: 0 20px;
  justify-content: flex-start;
}

footer .links {
  margin-left: auto;
}

footer .links a {
  margin-left: 10px;
  display: block;
  text-align: right;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 750px) {
  :root {
    --global-padding: 20px 40px;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --global-padding: 40px 60px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --global-padding: 40px 100px;
  }
}
