.Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.Nav-welcome {
  color: grey;
}

.Nav-link, .Nav-link:visited {
  color: lightpink;
  text-decoration: none;
  margin-left: 5px;
}

.Nav .Nav-link.profile {
  margin-left: 5px;
}

.Nav-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
